<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>json-api.rocks</title>
    <%= stylesheet_link_tag "documentation/application", media: "all" %>
  </head>

  <body>
    <div class="page">
      <%= yield %>
    </div>
  </body>

</html>
