<h1>json-api.rocks</h1>

<h2>JSON Endpoints</h2>

<div>
  <pre>GET /api/movies</pre>
  <pre>POST /api/movies</pre>
  <pre>GET /api/movies/:id</pre>
  <pre>PUT /api/movies/:id</pre>
  <pre>DELETE /api/movies/:id</pre>
</div>

<p>Read about the API <a href="http://commandercoriander.net/blog/2014/01/04/test-driving-a-json-api-in-rails/">here</a>.</p>

